<h2>Show assignment</h2>

<ul class="display-list">

  <li>
    <strong>Name:</strong>
    <%= @assignment.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @assignment.description %>
  </li>

  <li>
    <strong>Files:</strong>
    <%= if @assignment.submission_files == nil, do: 'No files', else: Enum.join(@assignment.submission_files, ", ") %>
  </li>

</ul>

<%= link "Back", to: assignment_path(@conn, :index) %>
