<h1>Overview</h1>
<p>This will eventually be the landing page for an authenticated student. It will have
information about their scores on the assignment tests, a link to the submission page for the
current assignment, maybe other things?</p>

<h2>Current Assignment</h2>
<h2>Scores</h2>
